/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    // ]

    withName: FREEBAYES {
        ext.args = [
            "--ploidy 1",
            params.lower_ambiguity_frequency ? "--min-alternate-fraction ${params.lower_ambiguity_frequency}" : "",
            params.min_ambiguity_count ? "--min-alternate-count ${params.min_ambiguity_count}" : "",
            "--pooled-continuous",
            params.min_coverage_depth ? "--min-coverage ${params.min_coverage_depth}" : "",
            "--gvcf",
            "--gvcf-dont-use-chunk true",
        ].join(' ').trim()
    }

    withName: ARTIC_GUPPYPLEX {
        ext.args   = [
            params.min_ont_read_quality ? "--quality ${params.min_ont_read_quality}" : '',
            params.min_ont_read_length ? "--min-length ${params.min_read_length}" : '',
            params.max_ont_read_length ? "--max-length ${params.max_read_length}" : '',
            params.skip_ont_quality_check ? "--skip-quality-check" : '',
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        memory     = { 8.GB * task.attempt }
    }

    withName: ARTIC_MINION {
        ext.args   = [
            "--normalise ${params.normalise_depth}",
            params.manual_clair3_model ? "--model ${params.manual_clair3_model}" : '',
            params.min_mapping_quality ? "--min-mapq ${params.min_mapping_quality}" : '',
            params.primer_match_threshold ? "--primer-match-threshold ${params.primer_match_threshold}" : '',
            params.min_coverage_depth ? "--min-depth ${params.min_coverage_depth}" : '',
            params.allow_mismatched_primers ? "--allow-mismatched-primers" : "",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        memory     = { 16.GB * task.attempt }
    }

    withName: ARTIC_ALIGN_TRIM {
        ext.args   = [
            "--normalise ${params.normalise_depth}",
            params.min_mapping_quality ? "--min-mapq ${params.min_mapping_quality}" : '',
            params.primer_match_threshold ? "--primer-match-threshold ${params.primer_match_threshold}" : '',
            params.allow_mismatched_primers ? "" : "--remove-incorrect-pairs",
            "--no-read-groups",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: TRIMMOMATIC {
        ext.args = "LEADING:30 TRAILING:30 SLIDINGWINDOW:4:20 MINLEN:35"
    }

    withName: BCFTOOLS_NORM {
        ext.args   = "--write-index=tbi"
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BCFTOOLS_VIEW {
        ext.args   = { "--include 'INFO/ConsensusTag==\"${meta.vartype}\"' --write-index='tbi' --output-type z" }
        ext.prefix = { "${meta.id}.${meta.vartype}" }
    }

    withName: BCFTOOLS_CONSENSUS_AMBIGUOUS {
        ext.args   = ["--iupac-codes", "--samples -"].join(' ').trim()
        ext.prefix = { "${meta.id}.preconsensus" }
    }

    withName: BCFTOOLS_CONSENSUS_FIXED {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.fasta') ? filename.replace('.fasta', '.consensus.fasta') : filename.equals('versions.yml') ? null : filename },
        ]
        ext.prefix = { "${meta.id}.consensus" }
    }

    withName: SAMTOOLS_DEPTH {
        ext.args = "-a"
    }

    withName: GENERATE_SAMPLE_REPORT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/pipeline_info/" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
        ]
    }
}
